/* Kolory tła */
body {
    background-color: #f7f4e9; /* Jasny kremowy */
    color: #333333; /* Ciemny tekst */
    font-family: Arial, sans-serif;
}

/* Nagłówki */
h1, h2 {
    color: #f4c542; /* Jasnożółty */
}

/* Linki */
a {
    color: #f4c542;
    text-decoration: none;
    font-weight: bold;
}

/* Linki przyciskowe */
.btn-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f4c542; /* Jasnożółty */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.btn-link:hover {
    background-color: #e5b93f; /* Trochę ciemniejszy odcień żółtego */
}

/* Sekcja */
section {
    margin: 40px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Nagłówek na stronie */
header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Stopka */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f4c542;
    color: white;
    margin-top: 40px;
    font-size: 0.9rem;
}
